<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Article Database{% endblock %}

    {% block navbar %} {% include "includes/_admin_navbar.html" %} {% endblock %}

{% block content %}


<script nonce="{{ nonce }}">
    // Confirmation button
function confirmdelete(content, id) {
    console.log(content);
    document.getElementById('modal-body').innerHTML = 'Are you sure you want to delete ' + content + '?';
    document.getElementById('delete').onclick = function() {
        window.location.href = "delete_article/" + id;
    }
}
</script>
<header class="py-5">
    <div style="background-color:#ffffff" class="py-5">
    </div>

    
</header>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}