.venv/
.idea/
.mypy_cache/
**/__pycache__/
.env
app/config/google_client_secret.json
**/*.log
app/static/uploads/profile_pictures/7c24e63d0394680fce9600aaa68e1db7880353b47a503a98ca2b8af9ebca4425.png
/app/static/images_recipe
app/static/uploads/profile_pictures/82b987aa01de1ed475d0fa3722ffc8cdfca3856a6ecf52bf2a284a2e92801584.jpg
