<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% from "includes/_form_helper.html" import render_field %}

{% block navbar %}{% endblock %}

{% block content %}
<h1>Sign In</h1>

<!-- Link to guest recipes page -->
<p>Just browsing? Our recipes are <a href="">here</a></p>

<!-- Google Signin button to use Google Signin API -->
<a href="{{ url_for('login_auth_bp.google_login') }}" class="btn btn-light">Sign in with Google</a>

<form action="" method="post" id="initial-login-form">
    {{ form.hidden_tag() }}
    <div>
        {{ render_field(form.username, class="form-control", placeholder="Enter your username") }}
    </div>

    <div>
        {{ render_field(form.password, class="form-control", placeholder="Enter your password") }}
    </div>

    <br>
    <!-- Account recovery (get username or set new password) -->
    <a href="{{ url_for('recovery_auth_bp.recovery') }}">Forgot Username or Password?</a>

    <div>
        {{ render_field(form.recaptcha) }}
    </div>

    <br>

    <!-- Submit buttons (Create Account, Signin) -->
    <div>
        <a href="{{ url_for('signup_auth_bp.signup') }}" class="btn btn-light btn-outline-primary rounded-pill">Create Account</a>
        <button type="submit" class="btn btn-primary rounded-pill submit-disabler">Sign in</button>
    </div>
</form>

{% endblock %}
