<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Member Account Creation{% endblock %}
{% from "includes/_form_helper.html" import render_field %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block navbar %}
{% include "includes/_new_navbar.html" %}
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Confirm Member Account Creation</h1>
    <p>Do you want to create a new member account using your Google account?</p>
    
    <form action="" method="post" id="confirm-create-member-form">
        {{ form.hidden_tag() }}
        <div>
            {{ form.confirm }}
        </div>
        <!-- Submit button -->
        <div class="center1">
            <button type="submit" class="btn btn-primary rounded-pill submit-disabler">Confirm</button>
        </div>
    </form>
</div>
{% endblock %}
