<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Member Account Creation{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<h1>Confirm Member Account Creation</h1>
<p>Do you want to create a new member account using your Google account?</p>

<form action="" method="post" id="confirm-create-member-form">
    {{ form.hidden_tag() }}
    <div>
        {{ form.confirm }}
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary rounded-pill submit-disabler">Confirm</button>
</form>
{% endblock %}
