<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Recovery Options{% endblock %}
{% from "includes/_form_helper.html" import render_field %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block navbar %}
{% include "includes/_new_navbar.html" %}
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Account Recovery</h1>

    <!-- Message with resend otp below -->
    <p>You can choose to recover your username or to reset your current password.<br>
        We will send you the necessary details through the provided email.</p>

    <form action="" method="post" id="verify-otp-form">
        {{ form.hidden_tag() }}
        <div>
            {{ form.recovery_option }}
        </div>
    
        <!-- Submit buttons (Back, Next) -->
        <div>
            <a href="{{ url_for('recovery_auth_bp.recovery_options', action='back') }}" class="btn btn-light btn-outline-primary rounded-pill">Back</a>
            <button type="submit" class="btn btn-primary rounded-pill submit-disabler">Next</button>
        </div>
    </form>
</div>
{% endblock %}
