<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important: Admin Key Distribution</title>
</head>
<body>
    <img src="https://i.imgur.com/AaUuxo9.png" style="height: 2.5rem; width: auto; text-align: center;">
    <p>Dear {{ username }},</p>
    <p>This is an automated message. Please find your admin key below:</p>
    <p>Admin Key:<strong>{{ admin_key }}</strong>.</p>
    <p>Important Notes:<br>
        Confidentiality: Please treat this key with the utmost confidentiality. Do not share it with unauthorized individuals.<br>

        Security: Ensure the key is stored securely and used only in secure environments.
        In addition, delete this email upon safe storage of the key.<br>

        Usage: The key is valid for 24 hours and should be used only for administrative actions of customer accounts.
        (e.g, Locking, revoking subscriptions, deleting accounts, etc...) </p>
    <p>Best regards, <br>Louis Miga<br>Head Admin</p>
    <hr>
    <p>If you need require any assistance, please contact me immediately at 9824 5934.</p>

</body>
</html>
