<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Receipt</title>
</head>
<body>
    <img src="https://i.imgur.com/AaUuxo9.png" style="height: 2.5rem; width: auto; text-align: center;">
    <p>Dear {{ username }},</p>
    <p>Thank you for ordering with us!</p>
    <p>Meal bundle to be delivered:{{ item }} <br>
    Appointed Delivery Time:  {{ delivery_date }}, {{ delivery_time }}<br>
    Address:{{ address }}, {{ postal_code }}<br>
    Phone Number: {{ phone_number }}</p>
    <p>If you wish to cancel your order, you may do so in the order history page. Latest allowed cancellation is 1 day before the date of delivery.</p>
    <p>Best regards, <br>TasteFully</p>
    <hr>
    <br>
    <p>If you need require any assistance, please contact us at 6222 6999 or email us at contacttastefully@gmail.com . </p>
</body>
</html>
