<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Receipt</title>
</head>
<body>
    <img src="https://i.imgur.com/AaUuxo9.png" style="height: 2.5rem; width: auto; text-align: center;">
    <p>Dear {{ username }},</p>
    <p>Thank you for subscribing with us at tastefully!</p>
    <p>With our premium plan, you are now eligible to have access: </p>
    <ul>
        <li>Food bundle packages</li>
        <li>Premium Recipes </li>
        <li>Early Access to new recipes</li>
    </ul>
    <br>
    <p>We wish you will enjoy your time with us at tastefully and that your homemade meals will be done tastefully. </p>
    <p>Best regards, <br>tastefully</p>
    <hr>
    <p>If you need require any assistance, please contact us at 6222 6999 or email us at contacttastefully@gmail.com . </p>
</body>
</html>
