<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice: Account Deletion </title>
</head>
<body>
    <img src="https://i.imgur.com/AaUuxo9.png" style="height: 2.5rem; width: auto; text-align: center;">
    <p>Dear {{ username }},</p>

    <p>We regret to inform you that your subscription to TasteFully has been revoked due to {{ reason }}. </p>

    <p><ul> What this means:
        <li>All your orders will be cancelled.</li>
        <li>You will no longer have access to premium recipes.</li>
        <li>As well as other subscription features will no longer be available.</li>
    </ul></p>
    <p>If you believe this was a mistake or would like to reactivate your subscription, please contact our customer support team.</p>
    <p>We apologize for any inconvenience this may cause. If you have any questions or need further assistance, we are here to help.</p>
    <p>Thank you for understanding.</p>
    <p>Best regards, <br>TasteFully</p>
    <hr>
    <p>If you need require any assistance, please contact us at 6222 6999 or email us at contacttastefully@gmail.com . </p>
</body>
</html>
