<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important: Account Locked</title>
</head>
<body>
    <img src="https://i.imgur.com/AaUuxo9.png" style="height: 2.5rem; width: auto; text-align: center;">
    <p>Dear {{ username }},</p>
    <p>This is an automated message to inform you that your account for tastefully has been unlocked.</p>
    <br>
    <p>You can now log in using your existing credentials. If you continue to experience any issues, please contact our support team.</p>
    <p>Thank you for your patience.</p>
    <p>Best regards, <br>Tastefully</p>
    <hr>
    <p>If you need require any assistance, please contact us at 6222 6999 or email us at contacttastefully@gmail.com . </p>

</body>
</html>
