<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field, render_button %}
<h1>Signup</h1>

<!-- Link to guest recipes page -->
<p>Just browsing? Our recipes are <a href="">here</a></p>

<!-- Google Signin button to use Google Signin API -->
<button type="button" class="btn btn-light">Sign in with Google</button>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ render_field(form.username, class="form-control", placeholder="Enter your username") }}
    </div>

    <div>
        {{ render_field(form.email, class="form-control", placeholder="Enter your email") }}
    </div>

    <!-- Submit buttons (Sign in, Next) -->
    <div>
        <button type="submit" name="action" value="sign_in" class="btn btn-light btn-outline-primary rounded-pill">Sign In</button>
        <button type="submit" name="action" value="next" class="btn btn-primary rounded-pill">Next</button>
    </div>
</form>

{% endblock %}
