<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<h1>Set Password</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ render_field(form.password, class="form-control", placeholder="Enter your password") }}
    </div>
    <div>
        {{ render_field(form.confirm_password, class="form-control", placeholder="Confirm your password") }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}
