<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<h1>Verify OTP</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ render_field(form.otp, class="form-control", placeholder="Enter your one time password") }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
<p>Didn't receive an OTP or OTP expired? <a href="{{ url_for('auth_bp.resend_otp') }}">Resend OTP</a></p>
{% endblock %}
