<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Set Password{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<h1>Set Password</h1>
<!-- Message with javascript enabled checker for password complexity below -->
<p>Your password must:</p>
<div class="password-checker">
    <ul>
        <li>Be at least 8 characters</li>
        <li>Include at least 1 uppercase letter</li>
        <li>Include at least 1 lowercase letter</li>
        <li>Include at least 1 symbol</li>
    </ul>
</div>

<form action="" method="post" id="set-password-form">
    {{ form.hidden_tag() }}
    <div>
        {{ render_field(form.password, class="form-control", placeholder="Enter your password") }}
    </div>
    <div>
        {{ render_field(form.confirm_password, class="form-control", placeholder="Confirm your password") }}
    </div>

    <!-- Submit buttons (Back, Signup) -->
    <div>
        <a href="{{ url_for('signup_auth_bp.set_password', action='back') }}" class="btn btn-light btn-outline-primary rounded-pill">Back</a>
        <button type="submit" name="action" value="signup" class="btn btn-primary rounded-pill submit-disabler">Sign Up</button>
    </div>
</form>

{% endblock %}
