<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Set Password{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authentication/password_checker.css') }}" />
{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<h1>Set Password</h1>
<!-- Message with javascript enabled checker for password complexity below -->
<p>Your password must:</p>
<div class="password-checker">
    <ul>
        <li id="length-check" class="invalid flex items-center mb-2">
            <span class="icon bi bi-x-circle-fill"></span>
            Be at least 8 characters
        </li>
        <li id="uppercase-check" class="invalid flex items-center mb-2">
            <span class="icon bi bi-x-circle-fill"></span>
            Include at least 1 uppercase letter
        </li>
        <li id="lowercase-check" class="invalid flex items-center mb-2">
            <span class="icon bi bi-x-circle-fill"></span>
            Include at least 1 lowercase letter
        </li>
        <li id="number-check" class="invalid flex items-center mb-2">
            <span class="icon bi bi-x-circle-fill"></span>
            Include at least 1 number
        </li>
        <li id="symbol-check" class="invalid flex items-center mb-2">
            <span class="icon bi bi-x-circle-fill"></span>
            Include at least 1 symbol
        </li>
    </ul>
</div>

<form action="" method="post" id="set-password-form">
    {{ form.hidden_tag() }}
    <div>
        {{ render_field(form.password, class="form-control", placeholder="Enter your password", id="password") }}
    </div>
    <div>
        {{ render_field(form.confirm_password, class="form-control", placeholder="Confirm your password") }}
    </div>
    <div>
        <a href="{{ url_for('signup_auth_bp.set_password', action='back') }}" class="btn btn-light btn-outline-primary rounded-pill">Back</a>
        <button type="submit" name="action" value="signup" class="btn btn-primary rounded-pill" disabled>Sign Up</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/authentication/password_checker.js') }}"></script>
{% endblock %}
