<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<h1>Signup</h1>

<!-- Link to guest recipes page -->
<p>Just browsing? Our recipes are <a href="{{ url_for('signup_auth_bp.signup', action='recipe') }}">here</a></p>

<!-- Google Signin button to use Google Signin API -->
<a href="{{ url_for('login_auth_bp.google_login') }}" class="btn btn-light">Sign in with Google</a>

<form action="" method="post" id="initial-signup-form">
    {{ form.hidden_tag() }}
    <div>
        {{ render_field(form.username, class="form-control", placeholder="Enter your username") }}
    </div>

    <div>
        {{ render_field(form.email, class="form-control", placeholder="Enter your email") }}
    </div>

    <div>
        {{ render_field(form.recaptcha) }}
    </div>
    <br>

    <!-- Submit buttons (Sign in, Next) -->
     <!-- Replace link to signup to some action -->
    <div>
        <a href="{{ url_for('login_auth_bp.login') }}" class="btn btn-light btn-outline-primary rounded-pill">Sign In</a>
        <button type="submit" class="btn btn-primary rounded-pill submit-disabler">Next</button>
    </div>
</form>

{% endblock %}
