<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Update Profile{% endblock %}
{% from "includes/_form_helper.html" import render_field %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="" method="POST" id="profile-update-form">
                {{ form.hidden_tag() }}

                <h2 class="mb-4">Update Profile</h2>

                <!-- Display current plan inforamtion -->
                {% if user.subscription_plan == 'premium' %}
                <div>
                    <p>Current Plan: <b><u>Premium</u></b></p>
                    <button type="submit" name="action" value="renew_plan" class="btn btn-warning rounded-pill"><b>Renew!</b></button>
                </div>
                {% elif user.subscription_plan == 'standard' %}
                <div>
                    <p>Current Plan: <b><u>Standard</u></b></p>
                    <button type="submit" name="action" value="upgrade_plan" class="btn btn-warning rounded-pill"><b>Upgrade!</b></button>
                </div>
                {% endif %}

                <br>

                <!-- Profile Picture Section -->
                <div class="mb-3 text-center">
                    {% if "uploads/profile_pictures/" in user.profile_picture %}
                        <img src="{{ url_for('static', filename=user.profile_picture) }}" alt="Profile Picture" class="img-thumbnail rounded-circle" />
                    {% else %}
                        <img src="{{ user.profile_picture }}" alt="Profile Picture" class="img-thumbnail rounded-circle" />
                    {% endif %}

                    <div id="edit-image-button">
                        <button type="submit" name="action" value="change_profile_picture" class="btn btn-primary">Edit Profile Picture</button>
                    </div>
                </div>

                <!-- Link/ unlink google account message -->
                <div class="mb-3">
                    <p>Do note that you are not allowed to change your username here if your account has been linked to your google account.</p>
                    
                    {% if user.google_id %}
                        <p>If you want to unlink your google account, click <a href="{{ url_for('member_profile_bp.profile', action='unlink_account') }}">here</a>.</p>
                    {% else %}
                        <p>If you wish to link to your Google account, choose to Sign-in with Google in the future.</p>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {% if user.google_id %}
                        {{ render_field(form.username, class='form-control', value=user.username, disabled=True) }}
                    {% else %}
                        {{ render_field(form.username, class='form-control', placeholder=user.username) }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ render_field(form.email, class='form-control', value=user.email, disabled=True) }}
                </div>

                <div class="mb-3">
                    {% if user.phone_number %}
                        {{ render_field(form.phone_number, class='form-control', placeholder=user.phone_number) }}
                    {% else %}
                        {{ render_field(form.phone_number, class='form-control', placeholder="Enter your phone number") }}
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {% if user.address %}
                        {{ render_field(form.address, class='form-control', placeholder=user.address) }}
                    {% else %}
                        {{ render_field(form.address, class='form-control', placeholder="Enter your address") }}
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {% if user.postal_code %}
                        {{ render_field(form.postal_code, class='form-control', placeholder=user.postal_code) }}
                    {% else %}
                        {{ render_field(form.postal_code, class='form-control', placeholder="Enter your postal code") }}
                    {% endif %}
                </div>

                <!-- Change password link only if user already has a password set -->
                <!-- Allow setting of password if user has no password & is google linked -->
                <div class="mb-3">
                    {% if user.password_hash %}
                        <p>Click <a href="{{ url_for('member_profile_bp.profile', action='reset_password') }}">here</a> to change your password.</p>
                    {% elif user.google_id %}
                        <p>We highly recommend setting a password <a href="{{ url_for('member_profile_bp.profile', action='set_password') }}">here</a> so you can also login through normal means without using your Google account.</p>
                    {% endif %}
                </div>

                <!-- Message to display -->
                <p>To help keep your account safe, we want to make sure it's really you trying to update your profile.</p>
                <p>So we will send you a verification email after you click 'Next'.</p>

                <!-- Submit buttons -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-light btn-outline-primary rounded-pill" name="action" value="revert">Revert</button>
                    <button type="submit" class="btn btn-primary rounded-pill" name="action" value="next">Next</button>
                </div>

                <!-- TODO: Subscription cancel link -->
                {% if user.subscription_plan == 'premium' %}
                    <a href="{{ url_for('member_profile_bp.profile', action='cancel_plan') }}">I want to cancel the subscription plan.</a>
                {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock %}
