<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Update Profile{% endblock %}
{% from "includes/_form_helper.html" import render_field %}

{% block css %}
{{ super() }}
<style nonce="{{ nonce }}">
    .img-thumbnail {
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="" method="POST" id="profile-update-form" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <h2 class="mb-4">Update Profile</h2>

                <!-- Display current plan inforamtion -->
                {% if user.subscription_plan == 'premium' %}
                <div>
                    <p>Current Plan: <u>Premium</u> &lpar;<span id="subscription-days-left"></span>d left&rpar;</p>
                    <button type="submit" name="action" value="renew_plan" class="btn btn-warning rounded-pill">Renew!</button>
                </div>
                {% elif user.subscription_plan == 'standard' %}
                <div>
                    <p>Current Plan: <u>Standard</u></p>
                    <button type="submit" name="action" value="upgrade_plan" class="btn btn-warning rounded-pill">Upgrade!</button>
                </div>
                {% endif %}

                <br>

                <!-- Profile Picture Section -->
                <div class="mb-3">
                    <img src="{{ image }}" alt="Current profile picture" class="img-thumbnail rounded-circle" />

                    <!-- Only allow changing if user is not linked to google -->
                    {% if not user.google_id %}
                        <div id="image">
                            {{ render_field(form.profile_picture, class="form-control") }}
                            <button type="submit" name="action" value="reset_profile_picture" class="btn btn-danger">Reset</button>
                            <button type="submit" name="action" value="upload_profile_picture" class="btn btn-primary">Edit</button>
                        </div>
                    {% else %}
                        <p>Since you are linked to Google, we will use your Google profile picture here and you are not allowed to directly change it here.</p>
                    {% endif %}
                </div>

                <!-- Link/ unlink google account message -->
                <div class="mb-3">
                    <p>Do note that you are not allowed to change your username here if your account has been linked to your google account.</p>
                    
                    {% if user.google_id %}
                        <p>If you want to unlink your google account, click <a href="{{ url_for('member_profile_bp.profile', action='unlink_account') }}">here</a>.</p>
                    {% else %}
                        <p>If you wish to link to your Google account, choose to Sign-in with Google in the future.</p>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {% if user.google_id %}
                        {{ render_field(form.username, class='form-control', value=user.username, disabled=True) }}
                    {% else %}
                        {{ render_field(form.username, class='form-control', value=user.username) }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ render_field(form.email, class='form-control', value=user.email, disabled=True) }}
                </div>

                <div class="mb-3">
                    {% if user.phone_number %}
                        {{ render_field(form.phone_number, class='form-control', value=user.phone_number) }}
                    {% else %}
                        {{ render_field(form.phone_number, class='form-control', placeholder="Enter your phone number") }}
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {% if user.address %}
                        {{ render_field(form.address, class='form-control', value=user.address) }}
                    {% else %}
                        {{ render_field(form.address, class='form-control', placeholder="Enter your address") }}
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {% if user.postal_code %}
                        {{ render_field(form.postal_code, class='form-control', value=user.postal_code) }}
                    {% else %}
                        {{ render_field(form.postal_code, class='form-control', placeholder="Enter your postal code") }}
                    {% endif %}
                </div>

                <!-- Change password link only if user already has a password set -->
                <!-- Allow setting of password if user has no password & is google linked -->
                <div class="mb-3">
                    {% if user.password_hash %}
                        <p>Click <a href="{{ url_for('member_profile_bp.profile', action='reset_password') }}">here</a> to change your password.</p>
                    {% elif user.google_id %}
                        <p>We highly recommend setting a password <a href="{{ url_for('member_profile_bp.profile', action='set_password') }}">here</a> so you can also login through normal means without using your Google account.</p>
                    {% endif %}
                </div>

                <!-- Message to display -->
                <p>To help keep your account safe, we want to make sure it's really you trying to update your profile.</p>
                <p>So we will send you a verification email after you click 'Next'.</p>

                <!-- Submit buttons -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-light btn-outline-primary rounded-pill" name="action" value="revert">Revert</button>
                    <button type="submit" class="btn btn-primary rounded-pill" name="action" value="next">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script nonce="{{ nonce }}">
        document.addEventListener('DOMContentLoaded', function() {
            // Function to calculate the difference in days between two dates
            function calculateDateDifference(dateString, elementId) {
                var currentDate = new Date();  // Get the current date
                var providedDate = new Date(dateString.replace(' ', 'T'));  // Ensure ISO format
                var diffInTime = providedDate - currentDate;
                var diffInDays = Math.ceil(diffInTime / (1000 * 3600 * 24));
                document.getElementById(elementId).innerText = diffInDays;
            }

            // Use the user.subscription_end_date passed from the backend
            calculateDateDifference('{{ user.subscription_end_date }}', 'subscription-days-left');
        });
    </script>
{% endblock %}
