.big-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 80vh; /* Adjust the height as needed */
}

.image-control{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    border: 3px solid grey;
    border-radius: 10px;
    overflow: hidden;
}

/* Modal CSS Related Stuff*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 10px; /* Optional: to make rounded corners */
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 50px;
    margin-left: 95% ;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-container{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    width: 40%;
    height: auto;
    margin: 10px;
    justify-content:center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.modal-image {
    max-width: 100%;
    max-height: 300px; /* Adjust based on your needs */
    margin-bottom: 15px;

}

.modal-description {
    text-align: center;
}


