<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}tastefully | {{ recipe.name }}{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe/recipe_view.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block navbar %} {% include "includes/_admin_navbar.html" %} {% endblock %}

{% block content %}
   <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md">
                    <img src="{{ url_for('static', filename='images_recipe/' + recipe.picture) }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md">
                    <div id="a" class="card-body align-items-center" >
                        {% if recipe.type == 'Premium' %}
                        <h6>PREMIUM</h6>
                        {% endif %}
                        {% if recipe.type == 'Private' %}
                        <h6>PRIVATE</h6>
                        {% endif %}
                        <h1 class="card-title">{{ recipe.name }}</h1>
                        <p class="card-text"><small class="text-muted">Created by {{ recipe.user_created }}</small></p>
                        <p class="card-text"><small class="text-muted">Last Edited: {{ recipe.date_created }}</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="b" class="row">
            <div class="col items">
                <h3>PREP TIME</h3>
                <h2>{{ recipe.prep_time }} mins</h2>
            </div>
            <div class="col items">
                <h3>CALORIES</h3>
                <h2>{{ recipe.calories }} kcal</h2>
            </div>
            <div class="col items">
                <h3>INGREDIENTS</h3>
                <h2>{{ recipe.ingredient_count }}</h2>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                <div class="c0" id="c" >
                    <h2 >Ingredients</h2>
                    <div id="d">
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div nonce="{{ nonce }}" class="c0" id="e">
                    <h2>Description</h2>
                    <p id="f">{{ recipe.instructions }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}