{% extends 'base.html' %}
{% block title %}tastefully | AI Recipe Creator{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe/recipe_ai_creator.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/recipe/recipe_ai_creator.js' ) }}"></script>
{% endblock %}

{% block navbar %} {% include "includes/_admin_navbar.html" %} {% endblock %}

{% block content %}

<div class="container">
  <h1 class="mb-4" id="page_title">tastefullyGPT</h1>





{% endblock %}