<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}tastefully | Create Recipe{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe/create_recipe.css') }}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/recipe/recipe_creator.js' ) }}"></script>
{% endblock %}

{% block navbar %} {% include "includes/_admin_navbar.html" %} {% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field, render_field_picture %}
<div>
    <h1 class="mb-4" style="text-align:center;margin-top:1.5rem;font-size:3rem;">Add Recipe</h1>
<div class="container mt-5">
    <h1 style="text-align:center;font-size:2rem;margin-bottom:-1rem;margin-top:1rem;">General Information</h1><br>
    <form class="justify-content-center" method="post" enctype="multipart/form-data" id="create_recipe_form">

        <div class="form-group mb-3" style="width:40rem;margin:auto;">
            {{ render_field(form.name, class="form-control", id="name", placeholder="Teriyaki Chicken") }}
        </div>

        <div class="form-group mt-1" style="width:40rem;margin:auto;">
            {{ render_field(form.instructions, class="form-control" , id="instructions", placeholder="1. Deep fry the chicken", rows=4, value="jrgeinerieo") }}
        </div>

        <div id="control_panel" class="text-center form-group">
            <h1 style="font-size:2rem;margin-bottom:-0.5rem;margin-top:1rem;">Ingredients</h1><br>
            <div class="input_ingredient">
                <input type="text" class="form-control form-control-lg col-auto" name="ingredient" id="ingredient" placeholder="chicken, tomato" required>
                 <div id="autocomplete" class="autocomplete">
                </div>
                <input type="button" value="+" id="add_ingredient" class="btn btn-success btn-lg col">
            </div>
            <div id="ingredient_items_list">
            </div>
            <div class="input_ingredient">
                <input type="button" value="Remove All" class="btn btn-danger btn-lg" id="remove_all">
            </div>
            {{ render_field_picture(form.ingredients, class="hide", id="ingredients") }}
        </div>

        <h1 style="text-align:center;font-size:2rem;margin-bottom:-1rem;margin-top:1rem;">Picture</h1><br>
        <div class="input-group mt-2" style="width:40rem;margin:auto;">
            {{ render_field_picture(form.picture, class="form-control", id="picture") }}
        </div>

        <div class="d-none"></div>
        <div style="margin:auto;text-align:center;">
            <a href="{{ url_for('admin.recipe_database', id=id) }}" class="btn btn-secondary mt-3 mb-4">Back to Home</a>
            <input type="button" id="submit_recipe" onclick='submit_recipe1()' class="btn btn-primary mt-3 mb-4" value="Add Recipe">
        </div>
    </form>
    {% if alert_error %}
    <script nonce="{{ nonce }}">
      display_popup('{{ alert_error }}', 'error');
    </script>
    {% endif %}
</div>
</div>
{% endblock %}
