p {
    font-size:1.2em;
}
ingredient-and-img {
    display:block;
    width:30rem;
    border: black solid 1px;
    height:20rem;;
}


.recipe-details {
    max-width:70rem;
    margin:auto;
}
.recipe-details p {
    display:block;
    margin:5rem;
    margin-top:1rem;
}

.items h3 {
    font-size: 1.2rem;
    color:rgb(124, 124, 124)
}
.items h2 {
    padding-top: 0.2rem;
    font-size: 2rem;
}

#a {
    text-align:center;
    height:100%;
    display:grid;
    align-content: center;
}

#a h6 {
    font-size:small;
}

#b {
    padding:1rem;margin:0;margin-bottom:1rem;border:rgb(212, 212, 212) 0.5px solid;border-radius:10px;text-align:center;background-color:white;
}

.c0 {
    background-color:white;
}

#c {
padding:1rem;margin:0.2rem;border:rgb(212, 212, 212) 0.5px solid;border-radius:10px;
}

#c h2 {
text-align:center
}

#d {
max-width:fit-content;margin-left:8%
}

#d ul {
width: 100%;text-align:left;padding-top:1rem;font-size:1.2rem;list-style-type:circle;
}

#e {
padding-left:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;margin:0.2rem;border:rgb(212, 212, 212) 0.5px solid;border-radius:10px;text-align:left;margin-bottom:5rem;
}

#e h2 {
    text-align:center;
    padding-top:1.5rem;
    margin-bottom:1.5rem;
}

#e p {
    margin:0.2rem;
}

#e p span {
    text-decoration:underline;
}