{% extends 'base.html' %}
{% block title %}tastefully | Recipe Database{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe/recipe_create.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/recipe/recipe_update.js' ) }}"></script>
<script nonce="{{ nonce }}" src="https://cdn.tiny.cloud/1/8ghrh6yshln8fcgy7idp9gt79rls7yiv815se4n23f5cgrmn/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
{% for ingredient in ingredients %}
<script nonce="{{ nonce }}">

        add_ingredient_item('{{ ingredient }}')
    </script>
{% endfor %}
{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field, render_field_picture %}
<div>
    <h1 class="mb-4" id="add_recipe_title">Update Recipe</h1>
    <div class="container mt-5">
        <h1 id="general_information_title">General Information</h1><br>
        <form class="justify-content-center" method="post" enctype="multipart/form-data" id="create_recipe_form">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="form-group mb-3 recipe-form-input">
                {{ render_field(form.name, class="form-control", id="name", placeholder="Teriyaki Chicken") }}
            </div>

            <div class="form-group mt-1 recipe-form-input">
                {{ render_field(form.instructions, class="form-control", id="instructions", placeholder="Step 1: ...") }}
            </div>

            <div class="form-group mt-1 recipe-form-input">
                {{ render_field(form.calories, class="form-control", id="calories", placeholder="200") }}
            </div>
            <div class="form-group mt-1 recipe-form-input">
                {{ render_field(form.prep_time, class="form-control", id="prep_time", placeholder="30") }}
            </div>
            <div class="form-group mt-1 recipe-form-input">
                {{ render_field(form.recipe_type, class="form-control", id="type") }}
            </div>


            <div id="control_panel" class="text-center form-group">
                <h1 id="ingredients_title">Ingredients</h1><br>
                <div class="input_ingredient">
                    {{ form.ingredients(class="form-control", id="ingredients", placeholder="chicken, salad") }}
                    <div id="autocomplete" class="autocomplete">
                    </div>
                    <input type="button" value="+" id="add_ingredient" class="btn btn-success btn-lg col">
                </div>
                <div id="ingredient_items_list">

                </div>
                <div class="input_ingredient">
                    <input type="button" value="Remove All" class="btn btn-danger btn-lg" id="remove_all">
                </div>
            </div>

            <h1 id="picture-title">Picture</h1><br>
            <div class="input-group mt-2 recipe-form-input">
                {{ render_field_picture(form.picture, class="form-control", id="picture") }}
            </div>

            <div class="d-none"></div>
            <div id="button-section">
                <a href="{{ url_for('admin_recipe_bp.recipe_database', id=id) }}" class="btn btn-secondary mt-3 mb-4">Back to
                    Home</a>
                <input id="submit_button" type="submit" class="btn btn-primary mt-3 mb-4" value="Update Recipe">
            </div>
        </form>

        {% if alert_error %}
        <script nonce="{{ nonce }}">
      display_popup('{{ alert_error }}', 'error');

        </script>
        {% endif %}

    </div>
</div>
{% endblock %}