/* Notification */
#popup {
    color:rgb(255, 255, 255);
    position:fixed;
    padding: 10px;
    min-width: 49vh;
    min-height: 5.4vh;
    right: 0px;
    top: 5rem;
    border-radius: 4px;
    z-index: 9;
}
.show1 {
    animation: show_slide 1s ease forwards
}
@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.hide {
    display:none;
}

#exclamation {
    position: absolute;
    left: 15px;
    top: 50%;
    transform:translateY(-50%);
    font-size: 3vh;
}

.msg {
    position: absolute;
    padding: 0 20px;
    font-size: 18px;
    transform:translateY(-50%);
    top:50%;
    left: 8.5%;
    font-size: 2vh;
}

#close-btn {
    position:absolute;
    right:0px;
    top:50%;
    transform:translateY(-50%);
    padding:20px 18px;
    font-size:3vmin;
}

#close-btn:hover {
    color: rgb(221, 221, 221);
    cursor: pointer;
}