{% extends "base.html" %}
{% block title %}Customer Feedback{% endblock %}
{% block content %}
<h1 class="display-4">Customer Feedback</h1>
<div>
    {% if count == 0 %}
    <p>There are no customers.</p>
    {% elif count == 1 %}
    <p>There is 1 customer.</p>
    {% else %}
    <p>There are {{ count }} customers.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.name }}</td>
                <td>{{ feedback.category }}</td>
                <td>{{ feedback.rating }}</td>
                <td>{{ feedback.comment }}</td>
                <td>{{ feedback.created_at }}</td>
                <td>
                    <form action="{{ url_for('admin_feedback_bp.delete_feedback', feedback_id=feedback.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this feedback?');">
                        <input display="hidden" type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}