<!DOCTYPE html>
{% extends "member/order/order_base.html" %}
{% block title %}tastefully | Menu {% endblock %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/order/order.css') }}" rel="stylesheet">
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' /> <!-- Delivery CSS-->
{% endblock %}

{% block content %}
<br>
<!-- Step Indicator -->
<div class="step-container">
   <div class="step step-inactive">
    <span>1</span>
    <span>Order</span>
   </div>
   <div class="step step-inactive">
    <span>2</span>
    <span>Booking</span>
   </div>
    <div class="step step-active">
        <span>3</span>
        <span>Delivery Information</span>
    </div>
    <div class="step">
        <span>4</span>
        <span>Confirmation</span>
    </div>
</div>
<br>

    <div class="bigger-container center1">
        <h3 class="center1">Customer Information</h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.address.label }}
                {{ form.address(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.postal_code.label }}
                {{ form.postal_code(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.phone_number.label }}
                {{ form.phone_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.recaptcha.label }} {{ form.recaptcha() }}
            </div>
    </div>
            <br>
            <br>
            <div class="center1">
                <!-- Return -->
                <a href="menu"><button type="button" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Return</button></a>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>

        <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script nonce="{{ nonce }}">
                        display_popup("{{ message|escapejs }}", "{{ category|escapejs }}");
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/order_popup.js') }}"></script>

{% endblock %}
