<!DOCTYPE html>
{% extends "member/order/order_base.html" %}
{% block title %}tastefully | Order History {% endblock %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/order/history.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


{% endblock %}

{% block content %}
<div class="table-container">
    <a href="{{ url_for('member_profile_bp.profile') }}" class="back-link text-blue-500 hover:underline flex items-center">
        <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
        Back to profile
    </a>
    <br>
    <h1 class="text-center">Order History</h1>
    <br>
    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Items Ordered</th>
                    <th>Delivery Date</th>
                    <th>Delivery Time</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Order Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                     <td>
                        <ul class="item-list">
                            {% for item in order.items_details %}
                                <li>{{item.name}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ order.delivery_date }}</td>
                    <td>{{ order.delivery_time }}</td>
                    <td>{{ order.formatted_created_at }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                      {% if order.status == 'Delivered' %}
                            <span class="text-muted">Delivered</span>
                        {% elif order.status in ['Order Placed'] %}
                            <button type="button" class="btn btn-danger" onclick="openModal({{ order.id }})">
                                Cancel Order
                            </button>
                        {% else %}
                        <span class="text-muted">Not Cancellable</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">No orders made have been made yet.</p>
    {% endif %}
</div>


<!-- Custom Modal Structure -->
 <div id="cancelModal" class="modal">
     <div class="modal-content">
         <span class="close" onclick="closeModal()">&times;</span>
         <h5>Confirm Cancellation</h5>
         <p>Are you sure you want to cancel this order?</p>
         <div class="modal-footer">
             <form id="cancelOrderForm" action="{{ url_for('member_order_bp.cancel_order', order_id=1) }}" method="post">
                 <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}">
                 <button type="submit" class="btn btn-danger">Cancel Order</button>
             </form>
         </div>
     </div>
 </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function openModal(orderId) {
        var modal = document.getElementById('cancelModal');
        var form = document.getElementById('cancelOrderForm');

        // Construct the URL in JavaScript
        var baseUrl = '{{ url_for("member_order_bp.cancel_order", order_id=0) }}';
        form.action = baseUrl.replace('0', orderId); // Replace the '0' with the actual order ID

        modal.style.display = "block";
    }

    function closeModal() {
        var modal = document.getElementById('cancelModal');
        modal.style.display = "none";
    }

    // Close the modal if the user clicks anywhere outside of it
    window.onclick = function(event) {
        var modal = document.getElementById('cancelModal');
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}

