<!DOCTYPE html>
{% extends "member/order/order_base.html" %}
{% block title %}Order Successful! {% endblock %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/order/menu.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootsdivap-icons@1.11.2/font/bootsdivap-icons.min.css">
{% endblock %}

{% block content %}
<br><br><br><br>
<!-- Step Indicator -->
<div class="step-container">
   <div class="step step-inactive">
    <span>1</span>
    <span>Order</span>
   </div>
   <div class="step step-inactive">
    <span>2</span>
    <span>Booking</span>
   </div>
    <div class="step step-inactive">
        <span>3</span>
        <span>Delivery Information</span>
    </div>
    <div class="step step-active">
        <span>4</span>
        <span>Confirmation</span>
    </div>
</div>
<br>
<div class="text-center">
    <h1 class="text-3xl font-bold mb-4">Order Successful</h1>
    <p class="text-lg">Thank you for your order!</p>

    <!-- Return Button -->
    <form action="" method="post">
        <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}">
        <div class="text-center mt-4">
            <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" name="return" value="True">Return</button>
        </div>
    </form>
</div>
{% endblock %}
