<!DOCTYPE html>
<html>
<head>
    <title>Stripe Payment</title>
    <script nonce="{{ nonce }}" src="https://js.stripe.com/v3/"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div> Home</div>

    <script nonce="{{ nonce }}" type="text/javascript">
        var stripe = Stripe('{{ publishable_key }}');

        document.getElementById('checkout-button').addEventListener('click', function () {
            fetch('/create-checkout-session', {
                method: 'POST',
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
