<!DOCTYPE html>
{% extends "member/transaction-processing/transaction_base.html" %}
{% block title %}tastefully | Plan Selection{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
<br>
<!-- Step Indicator -->
<div class="step-container">
    <div class="step step-active">
        <span>1</span>
        <span>Plan Selection</span>
    </div>
    <div class="step">
        <span>2</span>
        <span>Payment</span>
    </div>
    <div class="step">
        <span>3</span>
        <span>Confirmation</span>
    </div>
</div>
<br>
<div class="container center1">
        <img src="../../static/images/logo/logo.png" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div>
            <h1>Premium Plan</h1>
            <br>
            <p class="text-lg mb-4">$30 SGD/month</p>
               <a href={{url_for('member_subscription_bp.create_checkout_session')}}>
                   <button class="but-green" >Join</button>
               </a>
            <br>
            <br>
            <ul class="text-left list-disc list-inside">
               <li>Get Food Bundles every month! </li>
                <li>Get access to Premium Recipes!</li>
                <li>Get early access to new recipes!</li>
            </ul>
        </div>

</div>
    <!-- Return Button -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="text-center mt-4 center1">
           <a href={{url_for('general_bp.home')}}> <button id="checkout-button" class="but-orange" name="return" value="True">Return</button></a>
        </div>

    {% endblock %}



{% block scripts %}
{{ super() }}
<script nonce="{{ nonce }}" src="https://js.stripe.com/v3/"></script>
<script nonce="{{ nonce }}">
    var stripe = Stripe('{{ publishable_key }}');
    document.getElementById('checkout-button').addEventListener('click', function () {
        fetch('/plan_checkout', {
            method: 'POST',
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (sessionId) {
            return stripe.redirectToCheckout({ sessionId: sessionId.id });
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error('Error:', error);
        });
    });
</script>
<script nonce="{{ nonce }}" type="text/javascript">
  var stripe = Stripe('{{ publishable_key }}');
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function () {
    fetch('/create-checkout-session', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}'
      },
    })
    .then(function (response) {
      return response.json();
    })
    .then(function (session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function (result) {
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error('Error:', error);
    });
  });

  var returnButton = document.getElementById("return-button");
  returnButton.addEventListener("click", function() {
    window.history.back();
  });
</script>

{% endblock %}
