<!DOCTYPE html>
{% extends "member/transaction-processing/transaction_base.html" %}

{% block title %}Payment Successful{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
{% endblock %}


{% block content %}
<br><br><br><br>
<div class="step-container" xmlns="http://www.w3.org/1999/html">
    <div class="step step-inactive">
        <span>1</span>
        <span>Plan Selection</span>
    </div>
    <div class="step step-inactive">
        <span>2</span>
        <span>Payment</span>
    </div>
    <div class="step step-active">
        <span>3</span>
        <span>Confirmation</span>
    </div>
</div>
<br>
<div class="text-center ">
    <h1 class="text-3xl font-bold mb-4">Payment Successful</h1>
    <p class="text-lg">Thank you for your purchase!</p>

    <!-- Return Button -->
    <form action="" method="post">
        <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}">
        <div class="text-center mt-4">
            <button class="but-green" name="return" value="True">Return</button>
        </div>
    </form>
</div>
{% endblock %}
