

{% extends "member/transaction-processing/transaction_base.html" %}

{% block title %}Payment Successful{% endblock %}

{% block content %}
<div class="step-container" xmlns="http://www.w3.org/1999/html">
    <div class="step">
        <span>1</span>
        <span>Plan Selection</span>
    </div>
    <div class="step ">
        <span>2</span>
        <span>Payment</span>
    </div>
    <div class="step step-active">
        <span>3</span>
        <span>Confirmation</span>
    </div>
</div>

<div class="text-center">
    <h1 class="text-3xl font-bold mb-4">Payment Successful</h1>
    <p class="text-lg">Thank you for your purchase!</p>
</div>


{% endblock %}
