<!DOCTYPE html>
{% extends "account_management/base.html" %}

{% block title %}View Member Details{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_profile.css') }}" />
<style nonce="{{ nonce }}">
    #content-header {
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        font-size: 1.2rem;
    }
    #content-header a, #content-header p {
        margin-bottom: 0;
        vertical-align: middle;
    }
    #buttons {
        display: flex;
        justify-content: center;
        margin-top: 1.8rem;
    }
    #buttons button:not(#revoke-btn) {
        width: 8rem;
        padding: 0.6rem;
        margin: 0 0.5rem;
    }
    #buttons button#revoke-btn {
        width: 12rem;
        padding: 0.6rem;
        margin: 0 0.5rem;
    }
    .profile-img-wrapper {
        position: relative;
        width: 150px;
        height: 150px;
        margin: auto;
    }
    .profile-img-wrapper img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .info-header {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        border-bottom: 2px solid #e2e8f0;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .left-section {
        text-align: center;
    }
    .back-link {
        margin: 1rem 0 1rem 0;
        text-align: left;
    }
</style>
{% endblock %}

{% block navbar %}
{% include "includes/_admin_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid row g-0" id="container">
    <!-- Left side (Profile pic, username, email, action buttons, other links) -->
    <div class="col-3" id="left">
        <!-- Profile image with status indicator -->
        <div id="profile-img-wrapper">
            <div class="profile-img">
                <img src="{{ member.image }}" alt="{{ member.username }}'s profile picture" />
            </div>
        </div>

        <!-- Username, email, phone number-->
        <div class="text-center mt-4 space-y-2">
            <h2 class="text-2xl font-semibold">{{ member.username }}</h2>
            <p class="text-gray-600">{{ member.email }}</p>
            {% if member.phone_number %}<p class="text-gray-600">Contact: {{ member.phone_number }}</p>{% endif %}
            <p class="text-black-500">
                <u>{{ member.subscription_plan }}</u>
            </p>
        </div>

        <!-- Action buttons (Unlock, Lock, Delete) -->
        <div id="buttons">
            <form action="" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <div class="row">
                    {% if member.locked %}
                        <button type="submit" name="action" value="unlock" class="btn btn-warning rounded-pill">Unlock</button>
                    {% else %}
                        <button type="submit" name="action" value="lock" class="btn btn-danger rounded-pill">Lock</button>
                    {% endif %}
                    <button type="submit" name="action" value="delete" class="btn btn-warning rounded-pill">Delete</button>
                </div>
                {% if member.subscription_plan == "Premium" %}
                <div class="row justify-content-center mt-2">
                    <button type="submit" name="action" value="revoke_plan" class="btn btn-danger rounded-pill" id="revoke-btn">Revoke Plan</button>
                </div>
                {% endif %}
            </form>
        </div>

        <!-- Other links (reset password, generate key, view activities) -->
        <div class="mt-4 space-y-2">
            {% if not member.locked %}
                <a href="{{ url_for('member_control_bp.view_member_details', action='reset_password') }}" class="w-full text-center text-blue-500 hover:underline block">Reset Password</a>
            {% endif %}
            <a href="{{ url_for('member_control_bp.view_member_details', action='view_order_history') }}" class="w-full text-center text-blue-500 hover:underline block">View Order History</a>
            <a href="{{ url_for('member_control_bp.view_member_details', action='view_activities') }}" class="w-full text-center text-blue-500 hover:underline block">View Activities</a>
        </div>
    </div>

    <!-- Right side (member account information) -->
    <div class="col-9" id="right">
        <div id="content">
            <div class="content-header">
                <!-- Back to Member List Link -->
                <div id="back-link">
                    <a href="{{ url_for('member_control_bp.view_member_details', action='back') }}" class="back-link text-blue-500 hover:underline flex items-center">
                        <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                        Back to member list
                    </a>
                </div>
            </div>
            <div id="content-body">
                <!-- Member Info section -->
                <div class="mb-4">
                    <h3 class="info-header">Member Information</h3>
                    <!-- Address, postal code -->
                    <div class="row">
                        <div class="col">
                            <label class="text-gray-600">Address</label>
                            <p>{{ member.address }}</p>
                        </div>
                        <div class="col">
                            <label class="text-gray-600">Postal Code</label>
                            <p>{{ member.postal_code }}</p>
                        </div>
                    </div>
                    <!-- Created date, updated date -->
                    <div class="row">
                        <div class="col">
                            <label class="text-gray-600">Account Created</label>
                            <p>{{ member.created_at.strftime('%B %d, %Y') }}</p>
                        </div>
                        <div class="col">
                            <label class="text-gray-600">Last Updated</label>
                            <p>{{ member.updated_at.strftime('%B %d, %Y') }}</p>
                        </div>
                    </div>
                </div>

                <!-- Account Status info -->
                <div class="mb-4">
                    <h3 class="info-header">Account Status</h3>
                    <!-- Failed login attempts, last failed login datetime -->
                    <div class="row">
                        <div class="col">
                            <label class="text-gray-600">Failed Login Attempts</label>
                            <p>{{ member.failed_login_attempts }}</p>
                        </div>
                        <div class="col">
                            <label class="text-gray-600">Last Failed Login Attempt</label>
                            <p>{{ member.last_failed_login_attempt.strftime('%B %d, %Y %I:%M %p') if member.last_failed_login_attempt else 'N/A' }}</p>
                        </div>
                    </div>
                    <!-- Last login & logout datetime -->
                    <div class="row">
                        <div class="col">
                            <label class="text-gray-600">Last Login</label>
                            <p>{{ member.last_login.strftime('%B %d, %Y %I:%M %p') if member.last_login else 'Never' }}</p>
                        </div>
                        <div class="col">
                            <label class="text-gray-600">Last Logout</label>
                            <p>{{ member.last_logout.strftime('%B %d, %Y %I:%M %p') if member.last_logout else 'Never' }}</p>
                        </div>
                    </div>
                    <!-- Login count & status (locked, online, offline) -->
                    <div class="row">
                        <div class="col">
                            <label class="text-gray-600">Login Count</label>
                            <p>{{ member.login_count }}</p>
                        </div>
                        <div class="col">
                            <label class="text-gray-600">Status</label>
                            {% if member.locked %}
                            <p class="text-red-500">
                                Locked
                                {% if member.unlock_request %}
                                    <span class="text-yellow-500">(Unlock Requested)</span>
                                {% endif %}
                            </p>
                            {% elif member.status == "Online" %}
                            <p class="text-lime-500">Online</p>
                            {% else %}
                            <p class="text-gray-500">Offline</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Locked Reason -->
                {% if member.locked and member.locked_reason %}
                <div class="mb-4">
                    <h3 class="info-header">Locked Reason:</h3>
                    <p>{{ member.locked_reason }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
