<!DOCTYPE html>
{% extends "account_management/base.html" %}

{% block title %}View Members{% endblock %}

{% block navbar %}
{% include "includes/_admin_navbar.html" %}
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account_table.css') }}" />
<style>
    #no-member-details {
        text-align: center;
    }

    #no-member-details h1 {
        margin: 0;
    }

    #no-member-details button {
        margin-top: 1.2rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" id="content">
    {% if not member_data %}
    <section id="no-member-details">
        <h1>There are currently no members!</h1>
    </section>
    {% else %}
    <main id="table">
        <section id="table-header">
            <h3>Members List</h3>
            <p>Total: {{ count }}</p>
        </section>

        <section id="table-body">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Username</th>
                        <th>Email</th>
                        <th>Created</th>
                        <th>Last Login</th>
                        <th>Account Status</th>
                        <th>Subscription Plan</th>
                        <th>View Details</th>
                    </tr>
                </thead>

                <tbody>
                    {% for member in member_data %}
                        <tr>
                            <td colspan="2">
                                <img src="{{ member.image }}" alt="{{ member }}'s Profile Picture" />
                                {{ member.username }}
                            </td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.created_at.strftime('%B %d, %Y') }}</td>
                            <td>{{ member.last_login.strftime('%B %d, %Y %I:%M %p') if member.last_login else ' Never' }}</td>
                            <td>
                                {% if member.account_locked %}
                                <span class="text-red-500">Locked</span>
                                    {% if member.unlock_request %}
                                        <span class="text-yellow-500">(Unlock Requested)</span>
                                    {% endif %}
                                {% else %}
                                    {% if member.is_online %}
                                        <span class="text-green-500">Online</span>
                                    {% else %}
                                        <span class="text-gray-500">Offline</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ member.subscription_plan }}</td>
                            <td>
                                <form method="POST" action="{{ url_for('member_control_bp.view_members') }}">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="member_id" value="{{ member.id }}">
                                    <button type="submit" class="text-blue-500 hover:underline">View Details</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    {% endif %}
</div>
{% endblock %}
