<nav class="navbar navbar-expand-lg navbar-light shadow shadow-sm">
    <div class="container-fluid">
        <!-- Logo image -->
        <a class="navbar-brand" href="{{ url_for('general_bp.home', id=id) }}">
            <img class="logo" src="{{ url_for('static', filename='images/logo/logo.png') }}"/>
        </a>
        <button class="navbar-toggler bypass-disable" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Main pages -->
            <ul class="navbar-nav ms-auto nav-middle">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('general_bp.home', id=id) }}">Home</a>
                </li>
                <div class="nav-item">
                    <a href="{{ url_for('member_control_bp.view_members') }}" class="nav-link">Members</a>
                </div>
                <!-- Dropdown for logs -->    
                <li class="nav-item active dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Logs</a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('admin_log_bp.display_logs') }}" >Log List</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('admin_log_bp.dashboard') }}" >Dashboard</a>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown for Recipes -->
                <li class="nav-item active dropdown">
                    <a class="nav-link" href="{{ url_for('admin_recipe_bp.recipe_database') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Recipes</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('admin_recipe_bp.recipe_database') }}">Recipe Database</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('admin_recipe_bp.create_recipe') }}">Create Recipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('member_recipe_bp.ai_recipe_creator') }}">Mr T.</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('admin_recipe_bp.recipe_dashboard') }}">Recipe Dashboard</a>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown for Others -->
                <li class="nav-item active dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Forum</a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="">Forum Posts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('general_bp.about', id=id) }}">About</a>
                </li>
            </ul>

            <!-- Dropdown for Profile and Logout -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link profile-section" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="profile-box d-flex align-items-center">
                            {% if current_user.profile_images.source == "file_system" %}
                            <img src="{{ url_for('static', filename='uploads/profile_pictures/' + current_user.profile_images.filename) }}"
                                class="rounded-circle profile-picture" alt="Profile Picture"/>
                            {% elif current_user.profile_images.source == "google" %}
                            <img src="{{ current_user.profile_images.google_url }}"
                                class="rounded-circle profile-picture" alt="Profile Picture"/>
                            {% else %}
                            <img src="{{ url_for('static', filename='uploads/profile_pictures/default.png') }}"
                                class="rounded-circle profile-picture" alt="Profile Picture"/>
                            {% endif %}
                            <div class="profile-info ms-2">
                                {{ current_user.username }}
                            </div>
                        </div>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('admin_profile_bp.profile') }}">Edit
                                Profile</a>
                        </li>
                        <li><a class="dropdown-item nav-btn btn btn-danger" href="{{ url_for('general_bp.logout', type='admin') }}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>