<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    {% block css %}
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Internal CSS -->
    <style nonce="{{ nonce }}">
        body {
            background-color: #f0f0f0;
        }
        .flash-messages {
            position: fixed;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            max-width: 80%;
            z-index: 1050; /* Ensure it is above other content */
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block navbar %}{% endblock %}

    <div class="flash-messages">
        {% for message in get_flashed_messages(category_filter=["info"]) %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter=["error"]) %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter=["success"]) %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter=["warning"]) %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>

    {% block content %}Admin Management Base Content{% endblock %}

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/submit_disabler.js') }}"></script>
    <script nonce="{{ nonce }}">
        document.addEventListener('DOMContentLoaded', function() {
            // Automatically close flash messages after 20 seconds
            setTimeout(function() {
                let alerts = document.querySelectorAll('.alert-dismissible');
                alerts.forEach(function(alert) {
                    alert.classList.remove('show');
                    alert.classList.add('fade');
                });
            }, 20000); // 20 seconds
        });
    </script>
    <script nonce="{{ nonce }}">
        document.getElementsByClassName('profile-img').onerror = function() {
            this.src = "{{ url_for('static', filename='uploads/profile_pictures/default.png') }}";
        };
    </script>

    {% if 'admin_control_bp' in request.endpoint and request.endpoint != 'admin_control_bp.start' %}
    <!-- Inactivity Timer to do session timeout only for Admin control panel pages -->
    <script nonce="{{ nonce }}">
        document.addEventListener('DOMContentLoaded', function() {
            let timeout;
            const inactivityLimit = 10 * 60 * 1000;  // 10mins

            function resetTimer() {
                clearTimeout(timeout);
                timeout = setTimeout(function() {
                    window.location.href = "{{ url_for('admin_control_bp.start', inactivity_timeout='True') }}";
                }, inactivityLimit);
            }

            // Events to detect user activity
            window.onload = resetTimer;
            document.onmousemove = resetTimer;
            document.onkeypress = resetTimer;
        });
    </script>
    {% endif %}
    {% endblock %}
</body>
</html>
