<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    {% block css %}
    <!-- Tailwind css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flash_message.css') }}">
    <!-- Internal css -->
    <style nonce="{{ nonce }}">
        body {
            background-color: #f0f0f0;
        }
    </style>
    {% endblock %}
</head>

<body>
<!-- Get the navbar from member/_member_navbar.html -->
    {% block navbar %}
    {% if current_user.type == 'admin' %}
        {% include "includes/_admin_navbar.html" %}
    {% elif current_user.type == 'member' and current_user.subscription_plan == 'standard' %}
        {% include "includes/_member_navbar.html" %}
    {% elif current_user.type == 'member' and current_user.subscription_plan == 'premium' %}
        {% include "includes/_premium_navbar.html" %}
    {% else %}
        {% include "includes/_guest_navbar.html" %}
    {% endif %}
    {% endblock %}

    <div id="popup"></div>

    {% block content %}Base Content{% endblock %}

    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/flash_message.js') }}"></script>
    {% block flash_messages %}
    <script nonce="{{ nonce }}">
        {% for message in get_flashed_messages(category_filter=["info"]) %}
            display_popup("{{ message }}", "info");
        {% endfor %}

        {% for message in get_flashed_messages(category_filter=["error"]) %}
            display_popup("{{ message }}", "error");
        {% endfor %}

        {% for message in get_flashed_messages(category_filter=["success"]) %}
            display_popup("{{ message }}", "success");
        {% endfor %}

        {% for message in get_flashed_messages(category_filter=["warning"]) %}
            display_popup("{{ message }}", "warning");
        {% endfor %}
    </script>
    {% endblock %}

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/submit_disabler.js') }}"></script>
    {% endblock %}
</body>
</html>
