<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Example Blueprint Template</title>
    </head>
    <body>
        <!-- If we want to use url_for() function to route to a blueprint route -->
        <!-- must prefix with blueprint name in front first -->
        <p>
            This calls the 'example_route()' function in example_bp.py in
            blueprints folder
        </p>
        <a href="{{ url_for('example_bp.example_route') }}">Click here</a>
    </body>
</html>
